.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &_fz48 {
        width: 532px;
        font-size: 48px;
        margin-top: 10px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &__section-title {
        text-align: center;
        position: relative;
        margin-bottom: 6px;
        &:before {
            content: '';
            @include before_circle;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -6px;
            z-index: -1;
        }
    }
    &__section-subtitle {
        text-align: center;
        margin-bottom: 25px;
    }
}